# Creating a String
To create a string in Python we need to use either single quotes or double quotes. For example:

In [1]:
# Single word
'hello'

'hello'

In [2]:
# Entire phrase 
'This is a string'

'This is a string'

In [3]:
# We can also use double quote
"String can be built with single or double quotes"

'String can be built with single or double quotes'

In [4]:
#quotes error
' I'm using single quotes, but this will create an error'

SyntaxError: invalid syntax (<ipython-input-4-05a3b291771d>, line 2)

In [6]:
"Now I'm using single qoute"

"Now I'm using single qoute"

# To Print a string

In [7]:
# We can simply declare a string
'Hello World'

'Hello World'

In [9]:
# Note that we can't output multiple strings this way,it will only print 2nd output
'Hello World 1'
'Hello World 2'

'Hello World 2'

We can use print statement to print a string

In [10]:
print('Hello World 1')
print('Hello World 2')
print('Use \n to print a new line')
print('\n')
print('See what I mean?')

Hello World 1
Hello World 2
Use
 to print a new line


See what I mean?

In [11]:
len('Hello World1')

12

# String Indexing

In [18]:
# Assign s as a string
s = 'Hello World1'

In [19]:
#Check
s

'Hello World1'

In [20]:
# Print the object
print(s)

Hello World1

In [21]:
# Show first element (in this case a letter)
s[0]

'H'

In [22]:
s[1]

'e'

In [23]:
s[3]

'l'

In [24]:
# Grab everything past the first term all the way to the length of s which is len(s)
s[1:]

'ello World1'

In [25]:
# Note that there is no change to the original s
s

'Hello World1'

In [26]:
# Grab everything UP TO the 3rd index
s[:3]

'Hel'

In [27]:
#Everything
s[:]

'Hello World1'

In [32]:
# Last letter (one index behind 0 so it loops back around)
s[-1]

'1'

In [33]:
s[11]

'1'

Same output

In [34]:
# Grab everything but the last letter
s[:-1]

'Hello World'

In [35]:
# Grab everything but the last letter
s[:11]

'Hello World'

In [36]:
# Grab everything, but go in steps size of 1
s[::1]

'Hello World1'

In [37]:
# Grab everything, but go in step sizes of 2
s[::2]

'HloWrd'

In [38]:
# We can use this to print a string backwards
s[::-1]

'1dlroW olleH'

In [39]:
s

'Hello World1'

In [40]:
# Let's try to change the first letter to 'x'
s[0] = 'x'

TypeError: 'str' object does not support item assignment

In [41]:
a = "amazon"
a[:-1:-4]

''

In [42]:
a[1:3]

'ma'

In [43]:
a[0:4]

'amaz'

Notice how the error tells us directly what we can't do, change the item assignment!

Something we can do is concatenate strings!

In [46]:
s

'Hello World1'

In [48]:
# Concatenate strings!
s + ' concatenate me'

'Hello World1 concatenate me'

In [53]:
# We can reassign s completely though!
s = s + ' concatenate me!'

In [54]:
print(s)

Hello World1 concatenate me! concatenate me!

In [55]:
s

'Hello World1 concatenate me! concatenate me!'

We can use the multiplication symbol to create repetition!

In [56]:
letter = 'z'

In [57]:
letter*15

'zzzzzzzzzzzzzzz'

In [58]:
# Upper Case a string
s.upper()

'HELLO WORLD1 CONCATENATE ME! CONCATENATE ME!'

In [59]:
# Lower case
s.lower()

'hello world1 concatenate me! concatenate me!'

In [60]:
# Split a string by blank space (this is the default)
s.split()

['Hello', 'World1', 'concatenate', 'me!', 'concatenate', 'me!']

In [61]:
# Split by a specific element (doesn't include the element that was split on)
s.split('W')

['Hello ', 'orld1 concatenate me! concatenate me!']

In [62]:
'Insert another string with curly brackets: {}'.format('The inserted string')

'Insert another string with curly brackets: The inserted string'

In [64]:
print("Hey there, doesn\'t you have any work pending")

Hey there, doesn't you have any work pending